<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky" (window:scroll)="windowScroll()" [class]="navClass" [ngClass]="{'tagline-height': sliderTopbar == true}">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" routerLink="/index" *ngIf="navClass !== 'nav-light'">
                <img src="assets/images/smartLand.png" class="l-dark logo-light-mode" height="80" alt="">
                <img src="assets/images/smartLand.png" class="logo-dark-mode" height="80" alt="">
            </a>



            <ul class="buy-button list-inline mb-0" *ngIf="buttonList == true">
                <li class="list-inline-item mb-0 ms-1">
                    <div class="dropdown">
                        <button type="button" class="btn btn-link text-decoration-none dropdown-toggle p-0 pe-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="uil uil-search text-muted"></i>
            </button>
                        <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-3 py-0" style="width: 300px;">
                            <form>
                                <input type="text" id="text" name="name" class="form-control border bg-white" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                </li>
                <li class="list-inline-item mb-0 ms-1">
                    <a href="javascript:void(0)" class="btn btn-icon btn-primary"><i class="uil uil-facebook-f icons"></i></a>
                </li>
                <li class="list-inline-item mb-0 ms-1">
                    <a href="javascript:void(0)" class="btn btn-icon btn-primary"><i class="uil uil-github icons"></i></a>
                </li>
                <li class="list-inline-item mb-0 ms-1">
                    <a href="javascript:void(0)" class="btn btn-icon btn-primary"><i class="uil uil-twitter icons"></i></a>
                </li>
                <li class="list-inline-item mb-0 ms-1">
                    <a href="javascript:void(0)" class="btn btn-icon btn-primary"><i class="uil uil-linkedin-alt icons"></i></a>
                </li>
            </ul>


            <a class="logo" routerLink="/index" *ngIf="navClass === 'nav-light'">
                <img src="assets/images/smartLand.png" class="l-dark" height="80" alt="">
                <img src="assets/images/smartLand.png" class="l-light" height="80" alt="">
            </a>
        </div>

        <span *ngIf="!buttonList && !isdeveloper && !shopPages">
      <div class="buy-button">
        <ng-template [ngIf]="navClass === 'nav-light'">
          <a (click)="open(content)" class="btn btn-primary login-btn-primary">Ajouter Terrain</a>
          <a (click)="open(content)" class="btn btn-light login-btn-light">Ajouter Terrain</a>
        </ng-template>
        <ng-template [ngIf]="navClass !== 'nav-light'">
          <a (click)="open(content)" class="btn btn-primary">Ajouter Terrain</a>
        </ng-template>
      </div>
    </span>
        <!--end login button-->

        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" (click)="toggleMenu()" [ngClass]="{'open': isCondensed === true}">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu" [class]="navClass">
                <li><a routerLink="/" class="nav-link-ref">Accueil</a></li>
                <li>
                    <a href="javascript:void(0)" (click)="onMenuClick($event)">A propos</a><span class="menu-arrow"></span>

                </li>

                <li>
                    <a href="javascript:void(0)" (click)="onMenuClick($event)">Equipe</a><span class="menu-arrow"></span>

                </li>
                <li>
                    <a href="javascript:void(0)" (click)="onMenuClick($event)">Contact</a><span class="menu-arrow"></span>

                </li>

            </ul>
            <!--end navigation menu-->

            <div class="buy-menu-btn d-none">
                <a href="javascript: void(0);" target="_blank" class="btn btn-primary">Buy Now</a>
            </div>
            <!--end login button-->
            <!--end login button-->
        </div>
        <!--end navigation-->
    </div>
    <!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <div class="border-bottom mt-3">
            <h4 class="title mb-0 card-header text-center bg-primary text-light"> Information sur le terrain</h4>
        </div>
        <div class="row mt-4 mb-2">
            <div class="col-md-6">
                <h4 class="title mb-0 card-header text-center bg-primary text-light">Proprietaire </h4>
            </div>
            <!--end col-->
            <div class="col-md-6">
                <h4 class="title mb-0 card-header text-center bg-primary text-light">Terrain </h4>
            </div>
            <!--end col-->
        </div>

        <form #f="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Numero CNI <span class="text-danger">*</span></label>
                        <input class="form-control pl-5 " [(ngModel)]="idCni" placeholder="Numero de CNI?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Numero titre foncier <span class="text-danger">*</span></label>
                        <input class="form-control pl-5 " placeholder="Numero de titre foncier?" [(ngModel)]="idNumeroT" placeholder="Numero de titre foncier?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
            </div>

            <!--end row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Noms</label>
                        <input class="form-control pl-5" id="nom" name="nom" placeholder="Quelle est le nom du proprietaire?" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Limite</label>
                        <input class="form-control pl-5" id="limite" name="limite" placeholder="Limite du terrain" [(ngModel)]="limite" placeholder="Limite de votre terrain?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
            </div>
            <!-- end row  -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Prenoms</label>
                        <input class="form-control pl-5" id="prenom" name="prenom" placeholder="Quelle est le prenom du proprietaire?" [(ngModel)]="prenom" placeholder="Limite de votre terrain?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Coordonnees geographique du terrain</label>
                        <input class="form-control pl-5" id="coordGeo" name="coordGeo" placeholder="Coordonnes geographique  du terrain" [(ngModel)]="coordGeo" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
            </div>
            <!-- end row  -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Lieu de naissance</label>
                        <input class="form-control pl-5" id="lieuNaissance" name="lieuNaissance" [(ngModel)]="lieuNaissance" placeholder="Lieu de naissance du proprietaire?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Localisation</label>
                        <input class="form-control pl-5" id="local" name="local" placeholder="Localisation du terrain" [(ngModel)]="local" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Date de naissance</label>
                        <input class="form-control pl-5" id="dateNaissance" name="dateNaissance" placeholder="Quelle est  la date de naissance du proprietaire?" [(ngModel)]="dateNaissance" placeholder="Numero de CNI?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->


            </div>
            <!-- end row  -->

        </form>
        <!--end form-->
    </div>
    <!-- {{idCni}} -->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="onAddTerrain();c('Save click')">Ajouter</button>
    </div>
</ng-template>
<swal #successSwal title="Nouveau titre" text="Ajoutez avec succes!!!" icon="success" (confirm)="OnService()">
</swal>