<!-- Hero Start -->
<section class="bg-half-170 pb-0 bg-light d-table w-100" id="home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="title-heading text-center mt-4 mt-md-5 pt-md-5">
                    <!-- <div class="alert alert-light alert-pills" role="alert">
                        <span class="badge rounded-pill bg-success me-1">Start</span>
                        <span class="content"> Fill job <a routerLink="/page-job-apply" class="text-primary">application</a> now
              </span>
                    </div> -->

                    <h1 class="heading mb-3">
                        <ngx-typed-js [strings]="['Sécurité ', 'Accéssibilité', 'Fiabilité']" [shuffle]="true" [typeSpeed]="80" [loop]="true">
                            SmartLand <span class="element text-primary typing"></span>
                        </ngx-typed-js>
                    </h1>
                    <p class="para-desc mx-auto text-muted">Sécurisez votre avenir et celui de vos enfants en mettant vos biens en lieu sûr sur SmartLand.</p>
                    <form class="rounded p-4 mt-4 bg-white">
                        <div class="row justify-content-center ">
                            <div class="col-lg-5 col-md-4">
                                <div class="mb-0">
                                    <input type="text" class="form-control" [(ngModel)]="searchVal" [ngModelOptions]="{standalone: true}" required placeholder="Numero de titre Foncier">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-md-3 mt-4 mt-sm-0">
                                <div class="d-grid">
                                    <input type="submit" [disabled]="!searchVal" id="search" (click)="getTitreByValue(searchVal)" name="search" class="search btn btn btn-primary" value="Rechercher">
                                </div>
                            </div>
                            <!-- end col -->


                        </div>
                        <!--end row-->
                    </form>
                    <!-- <p class="text-muted mb-0 mt-4"><span class="text-dark">Keywords :</span> Web Developer, Web Designer, Php Developer, IOS Developer, etc...</p> -->
                </div>
            </div>
            <!--end col-->


        </div>
        <!--end row-->

        <div class=" container row" style="background: url('assets/images/land.jpg') center center;">
            <div>
                text
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
    </div>
</div>
<!--Shape End-->

<!-- Start -->
<section class="section" *ngIf="newTransaction?.length!=0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h3 class="title mb-4">Annuaire des propriétes</h3>
                    <!-- <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> -->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" *ngFor="let item of newTransaction">
                <div class="card categories overflow-hidden rounded shadow border-0">
                    <!-- <img src="assets/images/land1.jpg" class="img-fluid" alt=""> -->
                    <div class="card-body">
                        <!-- <ul class="list-unstyled d-flex justify-content-between mb-0"> -->
                        <!-- <li><a href="javascript:void(0)" class="title h6 text-dark">Numéro:{{item.parameter.value.idNumeroT}}</a></li> -->
                        <!-- <li class="h6 mb-0 jobs">125 Jobs</li> -->
                        <!-- </ul> -->
                        <table style="width:100%">
                            <tr>
                                <th>Immatriculation:</th>
                                <td>{{item.parameter.value.idNumeroT}}</td>

                            </tr>
                            <tr>
                                <th>Superficie:</th>
                                <td>{{item.parameter.value.limite}}</td>

                            </tr>
                            <tr>
                                <th>Localité:</th>
                                <td>{{item.parameter.value.local}}</td>

                            </tr>
                            <tr>
                                <th>Coordonnées:</th>
                                <td>{{item.parameter.value.coordGeo}}</td>

                            </tr>
                            <tr>
                                <th>Noms:</th>
                                <td>{{item.parameter.value.noms}}</td>

                            </tr>
                            <tr>
                                <th>Prénoms:</th>
                                <td>{{item.parameter.value.prenoms}}</td>

                            </tr>
                            <tr>
                                <th>Numéro CNI:</th>
                                <td>{{item.parameter.value.idCni}}</td>

                            </tr>
                            <tr>
                                <th>Date de naissanse:</th>
                                <td>{{item.parameter.value.dateNaissance}}</td>

                            </tr>
                            <tr>
                                <th>Lieu de naissance:</th>
                                <td>{{item.parameter.value.lieuNaissance}}</td>

                            </tr>

                        </table>
                        <div class="ms-auto  d-flex justify-content-center">
                            <div class="pt-2 text-end">
                                <a (click)="onCreateLink(item.hash)" class="btn btn-primary">Voir la transaction</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->




</section>
<!--end section-->
<!-- End -->

<!-- Start -->
<section class="section" *ngIf="newTransaction?.length===0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Cette propriéte n'existe pas encore sur notre annuaire</h4>
                    <!-- <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary fw-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> -->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->


    </div>
    <!--end container-->




</section>
<!--end section-->
<!-- End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
    </div>
</div>
<!--Shape End-->

<!-- Back to top -->
<!-- <a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" >Ajouter Titre
  <i-feather name="arrow-up" class="icons"></i-feather>
</a> -->


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="border-bottom mt-3">
            <h4 class="title mb-0 card-header text-center bg-primary text-light"> Information sur le terrain</h4>
        </div>
        <div class="row mt-4 mb-2">
            <div class="col-md-6">
                <h4 class="title mb-0 card-header text-center bg-primary text-light">Proprietaire </h4>
            </div>
            <!--end col-->
            <div class="col-md-6">
                <h4 class="title mb-0 card-header text-center bg-primary text-light">Terrain </h4>
            </div>
            <!--end col-->
        </div>

        <form #f="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Numero CNI <span class="text-danger">*</span></label>
                        <input class="form-control pl-5 " [(ngModel)]="idCni" placeholder="Numero de CNI?" [ngModelOptions]="{standalone: true}" type="number">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Numero titre foncier <span class="text-danger">*</span></label>
                        <input class="form-control pl-5 " placeholder="Numero de titre foncier?" [(ngModel)]="idNumeroT" placeholder="Numero de titre foncier?" [ngModelOptions]="{standalone: true}" type="number">
                    </div>
                </div>
                <!--end col-->
            </div>

            <!--end row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Noms</label>
                        <input class="form-control pl-5" id="nom" name="nom" placeholder="Quelle est le nom du proprietaire?" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Limite</label>
                        <input class="form-control pl-5" id="limite" name="limite" placeholder="Limite du terrain" [(ngModel)]="limite" placeholder="Limite de votre terrain?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
            </div>
            <!-- end row  -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Prénoms</label>
                        <input class="form-control pl-5" id="prenom" name="prenom" placeholder="Quelle est le prenom du proprietaire?" [(ngModel)]="prenom" placeholder="Limite de votre terrain?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Coordonnées geographique du terrain</label>
                        <input class="form-control pl-5" id="coordGeo" name="coordGeo" placeholder="Coordonnes geographique  du terrain" [(ngModel)]="coordGeo" placeholder="Coordonnees geographique du terrqin?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
            </div>
            <!-- end row  -->

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Lieu de naissance</label>
                        <input class="form-control pl-5" id="lieuNaissance" name="lieuNaissance" placeholder="Quelle est le lieu de naissancen du proprietaire?" [(ngModel)]="lieuNaissance" placeholder="Lieu de naissance du proprietaire?" [ngModelOptions]="{standalone: true}"
                            type="text">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Localisation</label>
                        <input class="form-control pl-5" id="local" name="local" placeholder="Localisation du terrain" [(ngModel)]="local" placeholder="Localisation?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label id="label">Date de naissance</label>
                        <input class="form-control pl-5" id="dateNaissance" name="dateNaissance" placeholder="Quelle est  la date de naissance du proprietaire?" [(ngModel)]="dateNaissance" placeholder="Numero de CNI?" [ngModelOptions]="{standalone: true}" type="text">
                    </div>
                </div>
                <!--end col-->


            </div>
            <!-- end row  -->

        </form>
        <!--end form-->
    </div>
    <!-- {{idCni}} -->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="onAddTerrain();c('Save click')">Ajouter</button>
    </div>
</ng-template>

<swal #successSwal title="Nouveau titre" text="Ajouté avec succes!!!" icon="success" (confirm)="OnService()">
</swal>

<ngx-spinner type="ball-scale-multiple">Patientez svp ...</ngx-spinner>
<a href="javascript: void(0);" (click)="open(content)" class="btn btn-icon btn-primary back-to-top" id="back-to-top">
    <i-feather name="plus-circle" class="icons"></i-feather>
</a>
<!-- Back to top -->